#main-content {
    justify-content: center;
}

#checkbox-div {
    font-size: 2em;
    text-align: center;
    justify-content: right;
    margin: auto 0 auto auto;
}

#tempo {
    margin-left: 0;
}
