/* Importando variáveis */
@import './variables';

/* definições de caixas */

#main-content {
    justify-content: center;
}

#checkbox-div {
    font-size: 2em;
    text-align: center;
    justify-content: right;
    margin: auto 0 auto auto;
}

#number-quantity-div {
    padding-left: .6em;
}

/* definições de elementos */

#tempo {
    margin-left: 0;
}

#nome {
    margin-bottom: 1em;
}

#number-quantity-div > span {
    margin-right: 1em;
    border: 3px inset $main-color;
    display: inline-block;
    text-align: center;
    color: $main-color;
    font-weight: 700;
    border-radius: 30%;
    background-color: $bg-content;
}

#number-quantity-div > i {
    color: $main-color;
    font-size: 1.5em;
    margin: auto 5px 0 0;
}

#number-quantity-div > i:hover {
    color: $link-hover;
    cursor: pointer;
}