/* Importando variáveis */
@import './variables';

/* definições de caixas */

#main-content {
    justify-content: center;
}

#checkbox-div {
    font-size: 2em;
    text-align: center;
    justify-content: right;
    margin: auto 0 auto auto;
}

/* definições de elementos */

#tempo {
    margin-left: 0;
}

#nome {
    margin-bottom: 1em;
}