/* Importando variáveis */
@import './variables';

/* Media query para dispositivos menores que 768px */
@media (max-width: 768px) {

  #main-content {
    flex-direction: column;
    padding: 0;
  }

  #game-content {
    width: 100%;
    border: none;
    padding: 1em;
  }

  #selection {
    max-width: 100%;
  }

  #buttons {
    justify-content: center;
  }

  #buttons > button {
    max-width: 30%;
    text-align: center;
    font-size: 1em;
  }

  #operations h1 {
    display: none;
  }

  #operations {
    width: 95%;
    height: 90%;
    justify-content: center;
    font-size: 0.8em;
    margin: 0.2em 0.6em;
    border: none;
    align-self: center;
  }

  #op-buttons .op-button {
    display: inline-block;
    width: auto; 
    margin: 0 1em;
  }

  .op-button::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $main-color;
    position: absolute;

}

  .op-button, .command-button, .random-numbers {
    margin: 0 auto;
  }
}

/* Media query para dispositivos menores que 1024px e maiores que 768px */
@media (min-width: 769px) and (max-width: 1024px) {
  #navigation {
    margin: 1em auto;
  }

  #main-content {
    justify-content: flex-start;
  }

  #game-content {
    width: 70%;
    border: none;
    padding: auto;
  }

  #game-content, #random-number {  
    margin-top: 0;
  }

  #selection, #op-title {
    max-width:100%;
  }

  #op-title {
    margin-bottom:2em;
    padding: .5em;
    border-bottom: 1px solid $main-color;
  }

  #operations {
    height: auto;
    width: auto;
  }

  #op-buttons {
    justify-content: center;
  }
  
  .op-button {
    margin: .7em auto;
  }

  #random-number, #selection {
    text-align: center;
  }

  .links {
    margin: 0 auto;
    border: 1px solid;
  }

  .op-button:last-child::after {
    content: '';
    display: block;
    height: 1px;
    width: 70%;
    background-color: $main-color;
    position: absolute;
    left: 15%;
}

}


