/* importação */
@import './variables.scss';

/* definições de caixas */

#main-content {
    justify-content: right;
    padding: 2em 2em 2em 0;
}

#game-content {
    margin-right: 2em;
    width: 50%;
}

#operations {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $op-color;
}

#buttons {
    justify-content: center;
}

#random-number, #selection {
    padding-top: 0;
}

#selection {
    max-width: 45%;
}

/*/
    Definições de elementos
*/

.op-button {
    margin:.5em 0;
    position: relative;
    padding: .1em ;
}

.op-button:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    width: 70%;
    background-color: $main-color;
    position: absolute;
    left: 15%;
}

.op-button i {
    color: $op-color;
    font-size: 2.5em;
}

.op-button i:hover {
    color: $buttons-hover-color;
    cursor: pointer;   
}

.random-numbers, .selected-numbers, .selected-operation, #result {
    font-size: 2em;
    margin: 0 .5em 0 .5em;
    transition: all .8s ease-out;
}

.random-numbers:hover{
    background-color: $buttons-hover-color;
    cursor: pointer;
}

.random-numbers {
    width: 20%;
}


#execute-operation, #cancel-operation, #restart-game {
    margin-top: 1em;
    border: .3em solid;
    border-radius: 20em;
    max-width: 20%;
    padding: 1em;
    font-weight: 800;
    transition: all .5s ease-in;
}

.command-button {
    margin-left: 1em;
}

#execute-operation:hover, #cancel-operation:hover, #restart-game:hover {
    background-color: $buttons-hover-color;
    color: $main-color;
    cursor: pointer;
}

#numbers-header {
    transition: opacity 1s ease-in-out;
    opacity: .7;
}

#op-title {
    margin-bottom: 1em;
}