/* Importando variáveis */
@import './variables';

/* Media query para dispositivos menores que 768px */
@media (max-width: 768px) {
    .content-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #image-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #image-section {
        margin: 0 auto;
    }

    img {
        margin: auto;
        border-radius: 10%;
    }

    .content-div > #arrows > i {
        font-size: 3em;
        margin: auto;
    }

}
