/* Definições padrão */
@import './variables.scss';


* {
    color: $main-color;
    box-sizing: border-box;
    background-color: unset;
    border: unset;
}

/* Definições de caixas */
body {
    background-color: $bg-color;
    padding: 0;
    height: 90vh;
    width: 100vw;
}

#header {
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
}

#navigation {
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
    max-width: fit-content;
    border-radius: 100px;
}

.contents {
    border: .1em solid;
    margin-top: 1em;
    padding: .5em;
    max-height: 80%;
    border-radius: 1em;
}

#nav-div {
    justify-content: center;
}

/* Definições de elementos */
.links {
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
    color: $main-color;
    transition: all .7s ease-in-out;
    border-radius: 20%;
    width: 2em;
    padding: 5px;
    border: 1.5px solid $main-color;
}

.link-divs a {
    text-decoration: none;
}

.links:hover {
    color: $link-hover;
    background-color: $bg-color-hover;
}

.links.active {
    background-color: $bg-color-hover;
}

.link-spans.active {
    font-weight: bolder;
}
