@import './variables';

/* Media query para dispositivos menores que 768px */
@media (max-width: 768px) {
    
    #header {
        margin: 1em auto;
    }

    #navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: auto 0;
    }

    .links {
        margin: 5px;
        border-radius: 0%;
        width: 80%;
        text-align: center;
    }

    #navigation a:nth-of-type(1) {
        border-bottom: 1px solid $main-color;
    }
    
}