/*/
    definições padrão
*/

* {
    color: rgba(198, 199, 20, .7);
    box-sizing: border-box;
    background-color: unset;
    border: unset;
}


/*/
    definições de caixas
*/

body {
    background-color: rgba(100, 40, 30, .8);
    padding: 0;
    height: 90vh;
    width: 100vw;
}

#navigation {
    font-size: 1.5em;
    justify-content: center;
    padding: .5em 0;
    margin-bottom: 2em;
}


/*/
    Definições de elementos
*/

.links {
    margin-right: 1em;
    font-size: 1.3em;
    font-weight: 600;
    color:  rgba(198, 199, 20, .7);
    text-decoration: none;
    transition: all .7s ease-in-out;
}

.links:hover {
    color: rgba(219, 148, 7, 0.8);
    background-color: rgba(219, 148, 7, 0.4);
}


/* Media query para dispositivos menores que 768px */
@media screen and (max-width: 768px) {
    #navigation {
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: auto 0;
    }

    #main-content {
        flex-direction: column;
        padding: 0;
    }

    #game-content {
        width: 100%;
        border: none;
        padding: 1em;
    }

    #buttons {
        justify-content: center;
    }

    #buttons > button{
        max-width: 30%;
        text-align: center;
        font-size: 1em;
    }

    #operations > h1 {
        display: none;
    }

    #operations {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: .8em;
        margin: 0 .6em;
        align-self: center;        
    }

    .op-button {
       margin: 0 .5em;
    }
}
