/*/
    definições padrão
*/

* {
    color: rgba(198, 199, 20, .7);
    box-sizing: border-box;
    background-color: unset;
    border: unset;
}


/*/
    definições de caixas
*/

body {
    background-color: rgba(100, 40, 30, .8);
    padding: 0;
    height: 90vh;
    width: 100vw;
}

#header {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#navigation {
    font-size: 1.5em;
    justify-content: center;
    padding: .5em 0;
    margin-bottom: 1em;
}


.contents {
    border: .1em solid;
    margin-top: 1em;
    padding: 1em;
    max-height: 80%;
    border-radius: 1em;
}

/*/
    Definições de elementos
*/

.links {
    margin-right: 1em;
    font-size: 1.3em;
    font-weight: 600;
    color:  rgba(198, 199, 20, .7);
    text-decoration: none;
    transition: all .7s ease-in-out;
}

.links:hover {
    color: rgba(219, 148, 7, 0.8);
    background-color: rgba(219, 148, 7, 0.4);
}


