/* Media query para dispositivos menores que 768px */
@media (max-width: 768px) {
    #header {
        margin: 1em auto;
    }

    #navigation {
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: auto 0;
    }

    #main-content {
        flex-direction: column;
        padding: 0;
    }

    #game-content {
        width: 100%;
        border: none;
        padding: 1em;
    }

    #selection {
        max-width: 100%;
    }

    #buttons {
        justify-content: center;
    }

    #buttons > button{
        max-width: 30%;
        text-align: center;
        font-size: 1em;
    }

    #operations > h1 {
        display: none;
    }

    #operations {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: .8em;
        margin: .2em .6em;
        border: none;
        align-self: center;        
    }

    .op-button, .command-button, .random-numbers, .links{
       margin: 0 auto;
    }


}

@media (min-width: 769px) and (max-width: 1023px) {

}
  