/*/
    definições padrão
*/

* {
    color: rgba(198, 199, 20, .7);
    box-sizing: border-box;
    background-color: unset;
    border: unset;
}


/*/
    definições de caixas
*/

body {
    background-color: rgba(100, 40, 30, .8);
    padding: 0;
    height: 90vh;
    width: 100vb;
}

#header {
    flex-direction: column;
    align-items: center;
}

#navigation {
    font-size: 1.5em;
    justify-content: center;
    padding: .5em 0;
}

#main-content {
    justify-content: right;
    padding: 2em 2em 2em 0;
    
}

.contents {
    border: .1em solid;
    margin-top: 1em;
    padding: 1em;
    max-height: 80%;
}

#game-content {
    margin-right: 2em;
    width: 50%;
}

#operations {
    width: 20%;
    align-items: center;
}

#random-number, #selection {
    padding-top: 0;
}


/*/
    Definições de elementos
*/

.links {
    margin-right: 1em;
    font-weight: 600;
    color:  rgba(198, 199, 20, .7);
}

.op-button {
    font-weight: 800;
    font-size: 2em;
}

.op-button i:hover {
    color: rgba(198, 199, 140, .9);
    cursor: pointer;   
}

.random-numbers, .selected-numbers, .selected-operation, #result {
    font-size: 1.5em;
    margin: 0 .5em 0 .5em;
    transition: all .8s ease-out;
}

.random-numbers:hover{
    background-color: rgba(219, 148, 7, 0.8);
    cursor: pointer;
}

#execute-operation, #cancel-operation, #restart-game {
    margin-top: 1em;
    border: .3em solid;
    border-radius: 20em;
    max-width: 20%;
    padding: 1em;
    font-weight: 800;
    transition: all .5s ease-in;
}

#execute-operation:hover, #cancel-operation:hover, #restart-game:hover {
    background-color: rgba(219, 148, 7, 0.8);
    color: rgba(59, 45, 3, 0.5);
    cursor: pointer;
}

#numbers-header {
    transition: opacity 1s ease-in-out;
    opacity: .7;
}

/* Media query para dispositivos menores que 768px */
@media screen and (max-width: 768px) {

}
